---
- hosts: 172.31.10.250 
  become: yes
  tasks:
  - name: install git
    apt: 
      name: git
      state: present

  - name: install tree
    apt:
      name: tree
      statee: present
    ignore_errors: yes

  - name: install wget
    apt:
      name: wget
      state: present
