<h1> This is my index page </h1>
<h1> My ansible node os is : {{ansible_os_family}}</h1>
<h1>my ansiblke node ip is : {{ansible_all_ipv4_addresses}}</h1>
<h1>my ansiblke node java version  is :{{myjavapackonubuntu}} </h1>